body{
    background-color: #020913;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
    width: 340px;
    height: 48px;
    margin-top: 35px;
    margin-bottom: 25px;
    /* background-color: #eeeeee22; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 290px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search svg{
    margin-left: 10px;
}